body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.main-catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

.button {
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 60px;
  background-color: #f3f7f9;
}

.header-top-wrapper {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 42px;
}

.header-logo {
  display: flex;
  width: 220px;
  height: 47px;
  margin-right: 10px;

  box-shadow: inset 0 -5px #b52933;
  background-color: #ee3643;
}

.header-logo img {
  margin: auto;
}

.header-logo:hover,
.header-logo:active {
  background-color: #ca2c37;
}

.header-top {
  margin-bottom: 45px;
}

.header-top,
.session-menu a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-search {
  align-self: center;
  width:230px;
}

.session-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 460px;
  margin-left: auto;
}

.header-top input {
  border: none;
  background-color: transparent;
}

.header-top input:focus {
  color: #000000;

  background-color: #ffffff;
}

.order {
  width: 150px;
  margin-left: 10px;
}

.order a {
  background-color: #63a63e;
}

.order a:hover {
  background-color: #5fbb2d;
}

.order a:active {
  background-color: #518534;
}

/* Надпись "Оформить заказ" не прижата к правому краю контейнера, т.к. еще не оформлены вложенные блоки */

.bookmarks {
  width: 150px;
  margin-left: 10px;
}

.shopping-bag {
  width: 140px;

}

.bookmarks a:hover,
.shopping-bag a:hover,
.header-top label:hover {
  background-color: #212a3a;
}

.bookmarks a:active,
.shopping-bag a:active {
  opacity: 0.6;
  background-color: #161d29;
}

.item-added a {
  background-color: #ee3643;
}

.header-middle {
  width: 100%;
  margin-bottom: 42px;
  background-color: #f3f7f8;
}

.header-middle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-middle h1 {
  width: 300px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;

  text-align: left;

  color: #ee3643;
}

.header-contacts {
  width: 300px;
  margin: 0;
  padding: 0;
}

.header-contacts .phone {
  padding: 0;
  margin: 0;
  text-align: center;
}

.header-contacts .phone a,
.header-contacts .phone  a:hover,
.header-contacts .phone  a:active {
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 21px;

  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-contacts .address {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;

  color: #32425c;
}

.user-navigation {
  width: 300px;
  padding: 0;
  margin: 0;
  list-style: none;
  }

/* А здесь можно использовать флексы? На разных страницах эта часть выглядит по-разному - на первой я бы выровняла их в направлении row и в
конце оси, а на второй там columns, наверное. Сделать это через добавочный класс? */

.user-navigation a {
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 21px;

  color: #000000;

  background-color: #ffffff;
}

.login-link,
.registration-link {
  padding: 0;
  margin: 0;
}

.user-orders-link a,
.user-account-link a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;

  color: #32425c;
  background-color: #f1f5f7;
}

.user-orders-link a:hover,
.user-account-link a:hover {
  color: #ee3643;
}

.user-orders-link a:active,
.user-account-link a:active {
  color: #32425c;
  opacity: 0.3;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-profile-link a:hover {
  color: #000000;
}

.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  margin: 0;
  padding: 0;
  list-style: none;

  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0 -5px #293449;
}

/* Наверное, тут неправильно. Сначала сделала, потом сообразила, что мы еще не занимались стилизацией блоков такого уровня вложенности*/

.site-navigation li {
  margin: 0;
  padding: 0;
}

.site-navigation a,
.site-navigation .current-page {
  font-size: 17px;
  line-height: 17px;

  color: #ffffff;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  opacity: 0.5;
  background-color: #1d2739;
}


.index-columns {
  display: flex;
  justify-content: space-between;
  color: #000000;
  margin-bottom: 86px;
  padding-top: 82px;
  /* Здесь задала внутренний отступ сверху уже сейчас, потому что в верстке нет блоков, выделенных красным, которые стояли бы выше и "толкали"
  этот блок */
  background-color: #ffffff;
}

.about-us {
  width: 550px;
  padding: 0;
  margin: 0;
  }

.about-us h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-us p,
.contacts p {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.about-us .delivery-companies {
  padding: 0;
  margin: 0;

  list-style: none;

  font-size: px;
  line-height: 20px;
}

.contacts {
  margin: 0;
  padding: 0;
  width: 300px;
}

.contacts h2 {
  display: block;
  margin: 0;

  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Не понимаю как управлять этим блоком. Между ним и следующим расстояние в 20px, но задать  .contacts h2 маргин снизу нельзя, а если задать
маргин сверху следующему блоку .catalog-columns - все получается. .contacts h2 нужно сметить тип или сделать обертку, чтобы управлять его высотой
и отступами?*/

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs a:hover,
.breadcrumbs a:active {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog {
  width: 700px;
 }

.main-catalog h2 {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.filters {
  width: 220px;
}

.filters h2 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter legend {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-input:disabled+label {
  color: #000000;
  opacity: 0.5;
}

.filter .button {
  color: #000000;

  background-color: #ffffff;

  border: 1px solid #e5e5e5;
}

.sorting {
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.sorting h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-list a {
  color: #000000;
  opacity: 0.3;

  text-decoration: underline #ee3643;
  text-decoration-style: dotted;
}

.sorting-list a:hover {
  opacity: 1;
  text-decoration-style: solid;
}

.sorting-item-active a {
  opacity: 1;
  text-decoration: none;

  color: #ee3643;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}
/* Почему-то карточки начинают выстраиваться после отступа слева, и  не помещаются по 3 в ряд */

.catalog-item {
  width: 220px;
  margin: 0;
  padding: 0;
  border: 1px solid #e4e4e4;

}


.catalog-item:hover {
  border-color: transparent;

  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item a {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;

  color: #000000;
}

.catalog-item-model {
  text-transform: uppercase;
}

/* Прописала на всякий случай - там и так капсом набрано. */

.catalog-item {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-item .old-price {

  text-decoration: line-through;

  color: #999999;
}

.catalog-item .current-price {
  color: #ffffff;

  background-color: #ee3643;
}

.item-adding .to-cart {
  background-color: #63a63e;
  box-shadow: inset 0 -3px #367315;
}

.item-adding .to-cart:hover {
  background-color: #5fbb2d;
}

.item-adding .to-cart:active {
  box-shadow: none;
  background-color: #518534;
}

.item-adding .to-bookmarks {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.item-adding .to-bookmarks:hover {
  border-color: #32425c;
}

.item-adding .to-bookmarks:active {
  color: ##32425c;
  opacity: 0.3;
  border-color: #c1c6ce;
}

/* .item-adding {
  display: none;
} */

.pagination {
  list-style: none;
}

.pagination a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;

  border: 1px solid #e5e5e5;
}

.pagination a:hover {
  border: 1px solid #bdc6ca;
}

.pagination a:active {
  border: 1px solid #ee3643;
}

.paginalion-item-current {
  background-color: #ee3643;

  border: 1px solid #ee3643;
}

.main-footer {
  margin: 0;
  padding: 0;
  color: #ffffff;

  background-color: #32425c;
}

.footer-top,
.footer-middle {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;


}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  }

.footer-logo {
  display: flex;

  width: 220px;
  height: 68px;

  text-align: center;
  box-shadow: inset 0 -5px #b52933;
  background-color: #ee3643;
}

.footer-logo img {
  margin: auto;
}

.footer-navigation-list {
  display: flex;
  justify-content: flex-end;
  min-width: 560px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.footer-navigation-list li {
 text-align: right;
}

.footer-navigation-list,
.catalog-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation-list a {
  color: #f1f5f7;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-contacts {
  margin: 0;
  padding: 0;
  width: 380px;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.catalog-menu {
  display: flex;
  justify-content: flex-end;
  width: 550px;
}

.catalog-menu a {
  color: #ffd180;
}

.footer-navigation-list a:hover,
.catalog-menu a:hover {
  text-decoration: underline;
}

.footer-navigation-list a:active,
.catalog-menu a:active {
  opacity: 0.5;
}

.footer-bottom {
 width: 100%;
 background-color: #293449;
 font-size: 16px;
 line-height: 18px;
}

.footer-bottom-wrapper {
  display: flex;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 107px;
}

.footer-copyright {
  width: 240px;
  margin: 0;
  margin-right: 150px;
  padding: 0;

}

.footer-social {
  width: 230px;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  list-style: none;
}

.footer-social a {
  color: #ffffff;
  background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}

.footer-feedback {
  width: 140px;
  margin: 0;
  margin-right: 40px;
  padding: 0;
}

.studio {
  width: 140px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-feedback a,
.studio span {
  color: #ffd180;
}

.footer-feedback a:hover,
.studio span:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.studio span:active {
  color: #ee3643;
  text-decoration: none;
}

.modal {
  display: none;
}
