body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.main-catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;

  font-size: 14px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 60px;
  background-color: #f3f7f9;
  /* outline: 2px solid blue; */
}

.header-top-wrapper {
  display: flex;
  position: relative;
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header-logo {
  display: flex;
  position: absolute;
  top: 0;
  left: 10px;
  width: 220px;
  height: 47px;

  box-shadow: inset 0 -5px #b52933;
  background-color: #ee3643;
}

.header-logo img {
  margin: auto;
}

.header-logo:hover,
.header-logo:active {
  background-color: #ca2c37;
}

.header-top,
.session-menu a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-search {
  position: relative;
  align-self: center;
  width: 270px;
  margin-left: 220px;
  /* outline: 2px solid red; */
}

.main-search::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;
  background-image: url("../img/icon-search.svg");
  backrgound-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-search:hover::before {
  opacity: 1;
}

.header-top input {
  box-sizing: border-box;
  width: 100%;
  padding-left: 49px;
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: transparent;
  border: none;
}

/* Как сделать так, чтобы когда курсор стоит  в окне поиска, иконка "лупа" не исчезала и становилась красной? */

.header-top input::placeholder {
  color: #ffffff;
}

/* Читала где-то, что такая конструкция с плейсхолдером не везде будет работать, в частности, что нужно сделать, чтобы IE11 воспринял ее? */
.header-top input:focus {
  color: #000000;

  background-color: #ffffff;
}


.session-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 450px;
  margin-left: auto;
  /* outline: 2px solid red; */
}

.order a {
  display: block;
  width: 110px;
  margin: 0;
  padding: 12px 20px;
  background-color: #63a63e;
}

.order a:hover {
  background-color: #5fbb2d;
}

.order a:active {
  background-color: #518534;
}

.bookmarks a {
  display: block;
  position: relative;
  width: 106px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 44px;

}

.bookmarks a::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 17px;
  top: 12px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.shopping-bag a {
  display: block;
  position: relative;
  width: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  /* outline: 2px solid red; */

}

.shopping-bag a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 20px;
  top: 12px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks a:hover,
.shopping-bag a:hover,
.header-top label:hover {
  background-color: #212a3a;
}

.bookmarks a:hover::before,
.shopping-bag a:hover::before {
  opacity: 1;
}

.bookmarks a:active,
.shopping-bag a:active {
  opacity: 0.6;
  background-color: #161d29;
}

.item-added a {
  background-color: #ee3643;
}

.header-middle {
  width: 100%;
  background-color: #f3f7f8;
}

.header-middle-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-middle h1 {
  display: block;
  width: 200px;
  margin: 0;
  padding-top: 48px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 41px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;

  text-align: left;

  color: #ee3643;

}

.header-contacts {
  width: 300px;
  margin: 0;
  padding: 0;
  padding-top: 45px;

}

.contacts-phone {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}

.contacts-phone a,
.contacts-phone a:hover,
.contacts-phone a:active {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 72px;
  padding-right: 52px;
  font-size: 21px;
  line-height: 21px;

  color: #ee3643;
  /* outline: 2px solid orange; */
  border: 3px solid #ffffff;
}

.contacts-phone a::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: 10px;
  left: 13px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts-address {
  display: block;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  font-size: 14px;
  line-height: 24px;

  color: #32425c;
  /* outline: 2px solid orange; */
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  padding: 0;
  padding-top: 45px;
  margin: 0;
  list-style: none;

}

.login-link,
.registration-link {
  min-width: 100px;
  padding: 0;
  margin: 0;
}

.login-link {
  margin-right: 6px;
}

.user-navigation a {
  display: inline-block;
  vertical-align: middle;
  padding: 12px 25px;
  margin: 0;
  font-size: 21px;
  line-height: 21px;

  color: #000000;

  background-color: #ffffff;
}

.login-link a {
  position: relative;
  padding-left: 48px;
}

.login-link a::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 13px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-orders-link a,
.user-account-link a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;

  color: #32425c;
  background-color: #f1f5f7;
}

.user-orders-link a:hover,
.user-account-link a:hover {
  color: #ee3643;
}

.user-orders-link a:active,
.user-account-link a:active {
  color: #32425c;
  opacity: 0.3;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-profile-link a:hover {
  color: #000000;
}

.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 940px;
  margin: 0;
  padding: 0;
  list-style: none;

  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0 -5px #293449;
}


.site-navigation li {
  margin: 0;
  padding: 0;

}

.site-navigation a,
.site-navigation .current-page {
  display: block;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 23px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  line-height: 17px;
  vertical-align: middle;
  color: #ffffff;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  opacity: 0.5;
  background-color: #1d2739;
}


.index-columns {
  display: flex;
  justify-content: space-between;
  color: #000000;

  padding-top: 82px;
  background-color: #ffffff;
  /* При проверке через Perfect Pixel текст, особенно в первом абзаце about-us, особенно в концах строк не совпадает
  не знаю, как это исправить и насколько это критично */
}

.about-us {
  width: 550px;
  padding: 0;
  margin: 0;
}

.contacts {
  margin: 0;
  padding: 0;
  width: 300px;


}

.about-us h2,
.contacts h2 {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.about-us p,
.contacts p {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.about-us p:last-of-type {
  margin-bottom: 22px;

}


.contacts p {
  padding-right: 115px;
  margin-bottom: 30px;
}
/* Тут тоже (как на строке 67 в index.html нужен был перенос строки, и я не использовала <br> - задала паддинг. */

.delivery-companies {
  padding: 0;
  padding-left: 36px;
  margin: 0;

  list-style: none;

  font-size: 18px;
  line-height: 20px;
}

.delivery-companies li {
  position: relative;
  margin-bottom: 20px;
}

.delivery-companies li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.delivery-companies li:last-child {
  margin-bottom: 0;
}

.button-about-us,
.button-feedback {
  padding-top: 10px;
  padding-bottom: 10px;
 margin-top: 37px;
 border-radius: 3px;
}

.button-about-us {
  padding-left: 40px;
  padding-right: 40px;
}

.button-feedback {
  width: 100%;
  text-align: center;
}
/* При проверке через Perfect Pixel эта кнопка не совпадает, не понимаю, как исправить */

.contacts .map {
  width: 300px;
  height: 158px;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contacts .map {
  width: 300px;
  height: 158px;
  margin: 0;
  padding: 0;
}

.breadcrumbs a,
.breadcrumbs a:hover,
.breadcrumbs a:active {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog {
  width: 700px;
}

.main-catalog h2 {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.filters {
  width: 220px;
}

.filters h2 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter legend {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-input:disabled+label {
  color: #000000;
  opacity: 0.5;
}

.filter .button {
  color: #000000;

  background-color: #ffffff;

  border: 1px solid #e5e5e5;
}

.sorting {
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.sorting h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-list a {
  color: #000000;
  opacity: 0.3;

  text-decoration: underline #ee3643;
  text-decoration-style: dotted;
}

.sorting-list a:hover {
  opacity: 1;
  text-decoration-style: solid;
}

.sorting-item-active a {
  opacity: 1;
  text-decoration: none;

  color: #ee3643;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

/* Почему-то карточки начинают выстраиваться после отступа слева, и  не помещаются по 3 в ряд */

.catalog-item {
  width: 220px;
  margin: 0;
  padding: 0;
  border: 1px solid #e4e4e4;

}


.catalog-item:hover {
  border-color: transparent;

  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item a {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;

  color: #000000;
}

.catalog-item-model {
  text-transform: uppercase;
}

/* Прописала на всякий случай - там и так капсом набрано. */

.catalog-item {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-item .old-price {

  text-decoration: line-through;

  color: #999999;
}

.catalog-item .current-price {
  color: #ffffff;

  background-color: #ee3643;
}

.item-adding .to-cart {
  background-color: #63a63e;
  box-shadow: inset 0 -3px #367315;
}

.item-adding .to-cart:hover {
  background-color: #5fbb2d;
}

.item-adding .to-cart:active {
  box-shadow: none;
  background-color: #518534;
}

.item-adding .to-bookmarks {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.item-adding .to-bookmarks:hover {
  border-color: #32425c;
}

.item-adding .to-bookmarks:active {
  color: #32425c;
  opacity: 0.3;
  border-color: #c1c6ce;
}

/* .item-adding {
  display: none;
} */

.pagination {
  list-style: none;
}

.pagination a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;

  border: 1px solid #e5e5e5;
}

.pagination a:hover {
  border: 1px solid #bdc6ca;
}

.pagination a:active {
  border: 1px solid #ee3643;
}

.paginalion-item-current {
  background-color: #ee3643;

  border: 1px solid #ee3643;
}

.main-footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 85px;
  padding: 0;
  color: #ffffff;

  background-color: #32425c;
}

.footer-top,
.footer-middle {
  width: 940px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;


}

.footer-top {
   display: flex;
  position: relative;
  padding-left: 220px;
}

.footer-logo {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 68px;

  text-align: center;
  box-shadow: inset 0 -5px #b52933;
  background-color: #ee3643;
}

.footer-logo img {
  width: 137px;
  height: 22px;
  margin: auto;
}

.footer-navigation-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 720px;
  margin: 0;
  padding: 0;
  margin-left: 420px;
  /* outline: 2px solid #518534 */
}

.footer-navigation-list li {
  padding: 0;
  margin: 0;
}

.footer-navigation-list,
.catalog-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation-list a {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 39px;
  padding-left: 59px;
  color: #f1f5f7;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-contacts {
  margin: 0;
  padding: 0;
  padding-top: 34px;
  padding-left: 4px;
  width: 380px;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.catalog-menu {
  display: flex;
  justify-content: flex-end;
  width: 550px;
  padding-top: 34px;
}

.catalog-menu a {
  display: block;
  min-width: 55px;
  margin: 0;
  padding: 0;
  padding-left: 59px;
  color: #ffd180;
}
/* В курсе говорилось о том, что флекс элементы должны иметь заданную ширину или высоту. Тут разные по ширине пункты,
я задала минимальную по слову "Техника". Надеюсь, правильно */

.footer-navigation-list a:hover,
.catalog-menu a:hover {
  text-decoration: underline;
}

.footer-navigation-list a:active,
.catalog-menu a:active {
  opacity: 0.5;
}

.footer-bottom {
  width: 100%;
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom-wrapper {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.footer-copyright {
  width: 240px;
  margin: 0;
  margin-right: 150px;
  padding: 0;
  padding-top: 37px;

}

.footer-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 130px;
  margin: 0;
  margin-right: 120px;
  padding: 0;
  padding-top: 35px;
  list-style: none;
}

.footer-social .social-button {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  background-color: #212a3a;
}

.social-button svg {
  margin: auto;
}
/* Для svg-изображений тут нужно прописывать ширину и высоту? Или их ограничит <a>, в которых они лежат? Тут, как я понимаю, их можно было
вставить как фон, потому что не нужно менять им цвет. Я просто хотела попробовать такой способ */

.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}

.footer-feedback {
  width: 140px;
  margin: 0;
  padding: 0;
  padding-top: 37px;
}

.studio {
  width: 140px;
  margin: 0;
  margin-left: 20px;;
  padding: 0;
  padding-top: 37px;
  text-align: center;
}
/* Тут текст немного правее в макете. Можно, наверное, задать не text-align: center, а паддингом выровнять. Но нужно ли? */

.footer-feedback a,
.studio span {
  color: #ffd180;
}

.footer-feedback a:hover,
.studio span:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.studio span:active {
  color: #ee3643;
  text-decoration: none;
}


  /*.modal {
 display: none;
  }*/

/* В ТЗ указано, что модальные окна позиционируются относительно вьюпорта - я не знаю пока как это делается */

.modal-map-container {
  width: 940px;
  height: 446px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  box-shadow: 0 0 16px 8px rgba(47, 42, 43, 0.5);
}
/* Плохо понимаю логику задания размеров и всяких оберток таким картинкам - в html-файле указаны размеры, в css указываются размеры. Причем,
и картинке, и контейнеру. И я не очень понимаю как сделать кнопку "закрыть" (или это ссылка должна быть) - заменить ее "крестиком" и поместить
в верхний угол карты (и окна write-us). С помощью псевдоэлемента не получилось. Запуталась кто кому относительно спозиционирован и чьим псевдоэлементом
будет "крестик"*/


.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 620px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border-top: 7px solid #ff5358;
  box-shadow: 0 0 16px 8px rgba(47, 42, 43, 0.5);
}

.feedback-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  margin: 0 auto;
  margin-top: 47px;
  padding: 0;
  list-style: none;
}

.feedback-form-item label {
  display: block;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;


  font-size: 18px;
  line-height: 18px;
}

.feedback-form-item input,
.feedback-form-item input::placeholder,
.feedback-form-item textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  background-color: transparent;

}


.feedback-form-item input,
.feedback-form-item textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 220px;
  margin: 0;
  padding: 9px 14px;
  border: 1px solid #dee3e4;
  border-radius: 2px;
}

.feedback-form-item input {
  margin-bottom: 22px;
}

.feedback-form-item textarea {
  width: 460px;
}
/* Нужно подгонять высоту textarea под макет? */

.feedback-bottom {
  display: block;
  width: 620px;
  padding: 37px 0;

  margin: 0;
  margin-top: 40px;
  background-color: #f4f4f4;
  outline: 2px solid #b52933;
}

.button-feedback-submit {
  display: block;
  width: 460px;
  margin: 0 auto;
  padding: 11px 0;

  border-radius: 2px;
}


