body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.main-catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

.button {
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.header-logo {
  display: flex;
  width: 220px;
  height: 47px;

  box-shadow: inset 0 -5px #b52933;
  background-color: #ee3643;
}

.header-logo img {
  margin: auto;
}

.header-logo:hover,
.header-logo:active {
  background-color: #ca2c37;
}

.header-top,
.session-menu a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.header-top input {
  border: none;
  background-color: transparent;
}

.header-top input:focus {
  color: #000000;

  background-color: #ffffff;
}

.order a {
  background-color: #63a63e;
}

.order a:hover {
  background-color: #5fbb2d;
}

.order a:active {
  background-color: #518534;
}

.bookmarks a:hover,
.shopping-bag a:hover,
.header-top label:hover {
  background-color: #212a3a;
}

.bookmarks a:active,
.shopping-bag a:active {
  opacity: 0.6;
  background-color: #161d29;
}

.item-added a {
  background-color: #ee3643;
}

.header-middle {
  background-color: #f3f7f8;
}

.header-middle h1 {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;

  text-align: left;

  color: #ee3643;
}

.contacts .phone,
.contacts .phone:hover,
.contacts .phone:active {
  font-size: 21px;
  line-height: 21px;

  color: #ee3643;

  border: 3px solid #ffffff;
}

.contacts .address {
  font-size: 14px;
  line-height: 24px;

  color: #32425c;
}

.user-navigation {
  list-style: none;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;

  color: #000000;

  background-color: #ffffff;
}

.user-orders-link a,
.user-account-link a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;

  color: #32425c;
  background-color: #f1f5f7;
}

.user-orders-link a:hover,
.user-account-link a:hover {
  color: #ee3643;
}

.user-orders-link a:active,
.user-account-link a:active {
  color: #32425c;
  opacity: 0.3;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-profile-link a:hover {
  color: #000000;
}

.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}



.header-bottom {
  color: #ffffff;

  background-color: #32425c;

  box-shadow: inset 0 -5px #293449;
}

.site-navigation {
  list-style: none;
}

.site-navigation a,
.site-navigation .current-page {
  font-size: 17px;
  line-height: 17px;

  color: #ffffff;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  opacity: 0.5;
  background-color: #1d2739;
}


.index-columns {
  color: #000000;

  background-color: #ffffff;
}

.about-us h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-us p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.about-us .delivery-companies {
  list-style: none;

  font-size: px;
  line-height: 20px;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs a:hover,
.breadcrumbs a:active {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
}

.filters h2 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-input:disabled+label {
  color: #000000;
  opacity: 0.5;
}

.filter .button {
  color: #000000;

  background-color: #ffffff;

  border: 1px solid #e5e5e5;
}

.sorting {
  background-color: #f7f3ec;
}

.sorting h3 {
  text-transform: uppercase;
}

.sorting-list {
  list-style: none;
}

.sorting-list a {
  color: #000000;
  opacity: 0.3;

  text-decoration: underline #ee3643;
  text-decoration-style: dotted;
}

.sorting-list a:hover {
  opacity: 1;
  text-decoration-style: solid;
}

.sorting-item-active a {
  opacity: 1;
  text-decoration: none;

  color: #ee3643;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  border: 1px solid #e4e4e4;
}

.catalog-item:hover {
  border-color: transparent;

  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item a {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;

  color: #000000;
}

.catalog-item-model {
  text-transform: uppercase;
}

/* Прописала на всякий случай - там и так капсом набрано. */

.catalog-item {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-item .old-price {

  text-decoration: line-through;

  color: #999999;
}

.catalog-item .current-price {
  color: #ffffff;

  background-color: #ee3643;
}

.item-adding .to-cart {
  background-color: #63a63e;
  box-shadow: inset 0 -3px #367315;
}

.item-adding .to-cart:hover {
  background-color: #5fbb2d;
}

.item-adding .to-cart:active {
  box-shadow: none;
  background-color: #518534;
}

.item-adding .to-bookmarks {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.item-adding .to-bookmarks:hover {
  border-color: #32425c;
}

.item-adding .to-bookmarks:active {
  color: ##32425c;
  opacity: 0.3;
  border-color: #c1c6ce;
}

/* .item-adding {
  display: none;
} */

.pagination {
  list-style: none;
}

.pagination a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;

  border: 1px solid #e5e5e5;
}

.pagination a:hover {
  border: 1px solid #bdc6ca;
}

.pagination a:active {
  border: 1px solid #ee3643;
}

.paginalion-item-current {
  background-color: #ee3643;

  border: 1px solid #ee3643;
}

.footer-top,
.footer-middle {
  font-size: 18px;
  line-height: 24px;

  color: #ffffff;

  background-color: #32425c;
}

.footer-logo {
  display: flex;

  width: 220px;
  height: 68px;

  text-align: center;
  box-shadow: inset 0 -5px #b52933;
  background-color: #ee3643;
}

.footer-logo img {
  margin: auto;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.footer-navigation-list,
.catalog-menu {
  list-style: none;
}

.footer-navigation-list a {
  color: #f1f5f7;
}

.catalog-menu a {
  color: #ffd180;
}

.footer-navigation-list a:hover,
.catalog-menu a:hover {
  text-decoration: underline;
}

.footer-navigation-list a:active,
.catalog-menu a:active {
  opacity: 0.5;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
  background-color: #293449;
}

.footer-social {
  list-style: none;
}

.footer-social a {
  color: #ffffff;
  background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}

.footer-feedback a,
.studio span {
  color: #ffd180;
}

.footer-feedback a:hover,
.studio span:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.studio span:active {
  color: #ee3643;
  text-decoration: none;
}

.modal {
  display: none;
}
